{{ friendModel | json }}
<!-- Input form -->
<div class="container">
  <h2 class="m-2">Add a friend</h2>
      <form [formGroup]="FormData" #formName="ngForm">
        <div class="form-group">
          <label for="firstName">First Name
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="your first name" formControlName="firstName" [(ngModel)]="friendModel.firstName" [class.alert]="firstName.invalid">
          </label>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="your last name" formControlName="lastName" [(ngModel)]="friendModel.lastName">
          </label>
        </div>
        <div class="form-group">
          <label for="Email">Email
            <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="your email" formControlName="email" [(ngModel)]="friendModel.email">
          </label>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number
            <input type="number" class="form-control" id="phone" name="phone" aria-describedby="phoneNumber" placeholder="your phone number" formControlName="phone" [(ngModel)]="friendModel.phone">
          </label>
        </div>
        <div class="form-group">
          <label for="language">Select your favorite language
            <select class="custom-select" ngModel=""  formControlName="language" id="language" name="language" >
              <option *ngFor="let language of languages" [value]="language" [(ngModel)]="friendModel.language">{{ language }}</option>
            </select>
          </label>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </form>
    </div>

