<!-- Input form -->
<section class="container">
  <h2 class="my-3">Add a friend</h2>
      <form [formGroup]="FormData" novalidate (ngSubmit)="submitData()">
        <div class="form-group">
          <label for="firstName">First Name
            <input type="text" class="form-control" id="firstName" name="firstName"
                   placeholder="your first name" formControlName="firstName"
                   [(ngModel)]="friendModel.firstName" required="required">
          </label>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="your last name" formControlName="lastName"
                   [(ngModel)]="friendModel.lastName" required="required">
          </label>
        </div>
        <div class="form-group">
          <label for="Email">Email
            <input type="email" class="form-control" id="email" name="email"
                   placeholder="your email" formControlName="email"
                   [(ngModel)]="friendModel.email" required="required">
          </label>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number
            <input type="text" class="form-control" id="phone" name="phone"
                   placeholder="your phone number" formControlName="phone"
                   [(ngModel)]="friendModel.phone" required="required">
          </label>
        </div>
        <div class="form-group">
          <label for="language">Favorite language
            <select class="custom-select"  id="language" name="language"
                    formControlName="language" [(ngModel)]="friendModel.language" required>
              <option value="" disabled>Select your favorite language</option>
              <option *ngFor="let language of languages" [value]="language">
                {{ language }}
              </option>
            </select>
          </label>
        </div>
        <p>Form status: {{ FormData.status }}</p>
        <button type="submit" class="btn btn-success mb-3" [disabled]="!FormData.valid">Submit</button>
      </form>
    </section>


