/* You can add global styles to this file, and also import other style files */
* {
  font-family: Cambria, Georgia, serif;
}
h1, h2, h4, a {
  color: #503b08;
}
a:hover {
  color: darkgoldenrod;
}
#header {
  color: #fff;
  height: 300px;
  background-image: url("assets/friends.jpg");
  background-position: center;
  background-size: cover;
}
.title {
  color: #825f0c;
  text-shadow: 2px 2px #503b08;
  font-size: 5rem;
  font-weight: bold;
}
#foot {
  color: #fff;
  background-color: #825f0c;
}
