.card {
  width: 300px;
  background-color: #9fdbbc;
  border: 2px solid #825f0c;
}
.card-title {
  color: #93711a;
  font-weight: bold;
}
.best {
  background-image: linear-gradient(to bottom right, #9fdbbc, #c6e734);
}
